---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout>
  <main class="post mx-auto flex w-full max-w-prose flex-col gap-4">
    <div role="list" class="flex flex-row gap-2" >
      {post.data.github && (
        <a href={post.data.github} target="_blank" style={{ textDecoration: 'none'}} class="hover:text-orange-500">
          Github
        </a>
      )}
      {post.data.github && post.data.website && <> / </>}
      {post.data.website && (
        <a href={post.data.website} target="_blank" rel="noopener noreferrer" style={{ textDecoration: 'none' }} class=" hover:text-orange-500">
          Website
        </a>
      )}
    </div>
    
    <Content />
  </main>
</Layout>
